.Pokecard {
  /* border: 1px solid blueviolet; */
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
  text-align: center;
  box-shadow: 10px 15px 8px -10px rgba(0, 0, 0, 0.56);
  padding: 10px;
  margin: 1rem;
}
.pokecard-data {
  /* width: 12px; */
  text-align: center;
}
.pokeccard {
  transition: all ease 0.5s;
}
.pokeccard:hover {
  transform: scale(1.25);
  opacity: 0.7;
}
